# Server
NODE_ENV=development
PORT=5000

# MongoDB
# MONGODB_URI=mongodb://localhost:27017/devlog
MONGODB_URI=mongodb+srv://gumudikhirasindhu1_db_user:Hc0lVGg6dYgB8CoE@cluster0.6bq6vuh.mongodb.net/workspace_booking?retryWrites=true&w=majority&appName=Cluster0

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

# CORS
CORS_ORIGIN=http://localhost:3000

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# Cache
CACHE_TTL=600